/*<meta sourceDocument="C:\Users\Jen.Naused\Documents\MobileAppSystemParam.docx" />*/

p
{
	margin-bottom: 8pt;
	font-family: Calibri;
	font-size: 11pt;
	margin-top: 0pt;
}

ol
{
	margin-bottom: 8pt;
	font-family: Calibri;
	font-size: 11pt;
	margin-top: 0pt;
}

ul
{
	margin-bottom: 8pt;
	font-family: Calibri;
	font-size: 11pt;
	margin-top: 0pt;
}

li
{
	margin-bottom: 8pt;
	font-family: Calibri;
	font-size: 11pt;
	margin-top: 0pt;
}

td
{
	margin-bottom: 8pt;
	font-family: Calibri;
	font-size: 11pt;
	vertical-align: top;
}

p.p_1
{
	margin-bottom: 0pt;
	margin-right: 41pt;
	font-family: 'Times New Roman';
	font-weight: bold;
	font-size: 12pt;
}

td.td_1
{
	vertical-align: middle;
	padding-left: 0pt;
	padding-right: 0pt;
}

p.p_2
{
	margin-bottom: 0pt;
	margin-right: 298pt;
	font-family: 'Times New Roman';
	font-weight: bold;
	font-size: 12pt;
}

p.p_3
{
	margin-bottom: 0pt;
	margin-right: 41pt;
	font-family: 'Times New Roman';
	font-size: 12pt;
}

p.p_4
{
	margin-bottom: 0pt;
	margin-right: 339pt;
	font-family: 'Times New Roman';
	font-size: 12pt;
}

p.p_5
{
	margin-bottom: 0pt;
	margin-right: 298pt;
	font-family: 'Times New Roman';
	font-size: 12pt;
}

p.p_6
{
	margin-bottom: 0pt;
	margin-right: 41pt;
}

span.span_1
{
	font-family: 'Times New Roman';
	font-size: 12pt;
}

p.p_7
{
	margin-bottom: 0pt;
	margin-right: 298pt;
}

p.p_8
{
	margin-top: 5pt;
	margin-bottom: 5pt;
	margin-right: 41pt;
	font-family: 'Times New Roman';
	color: #000000;
	font-size: 12pt;
}

p.p_9
{
	margin-top: 5pt;
	margin-bottom: 5pt;
	margin-right: 298pt;
	font-family: 'Times New Roman';
	color: #000000;
	font-size: 12pt;
}

span.span_2
{
	font-family: 'Times New Roman';
	color: #000000;
	font-size: 12pt;
}

span.span_3
{
	font-family: 'Times New Roman';
	font-style: italic;
	color: #000000;
	font-size: 12pt;
}

p.p_10
{
	margin-top: 5pt;
	margin-bottom: 5pt;
	margin-right: 41pt;
}

p.p_11
{
	margin-top: 5pt;
	margin-bottom: 5pt;
	margin-right: 298pt;
}

p.p_12
{
	margin-top: 5pt;
	margin-bottom: 5pt;
	margin-right: 298pt;
	font-family: 'Times New Roman';
	font-size: 12pt;
}

table.table_1
{
	border-collapse: collapse;
}

p.p_13
{
	margin-right: 41pt;
}

